{
  "presets": [
    ["env", { "targets": { "electron": "2.0" }, "shippedProposals": true }]
  ],
  "plugins": [
    [
      "transform-inline-environment-variables",
      {
        "include": ["NODE_ENV"]
      }
    ],
    "transform-object-rest-spread"
  ]
}
